html {
    font-size:0.8em;
    font-family: Verdana, Helvetica, Sans-Serif;
}

body {
    margin: 0;
    padding:0;
    background-color:#a9a9a9;
}

h3 {
    margin-top:25px;
}

#main {
    width: 95%;
    display:table;
    margin: 0 auto;
    background:#fff;
    padding-left:10px;
    padding-right:10px;
}

.search {
    margin-top:15px;
    margin-bottom:15px;
    margin-right:2px;
    width:19%;
    float:left;
    overflow-y:auto;
    height: 100vh;
}

    .search div input {
        width:150px;
    }

.scouting-report {
    width:80%;
    float:right;
}

.left {
    float:left;
    width: 49%;
    padding-bottom:30px;
    clear:left;
    overflow-x:auto;
}

.right {
    float:right;
    width: 49%;
    padding-bottom:30px;
    clear:right;
    overflow-x:auto;
}

.home {
    width:33%;
    padding: 10px;
    margin-top:10px;
    background-color: #eee;
    border-radius:5px;
}

.loading {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    z-index:1000;
}

.loading-wrapper {
    display:table;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.spinner {
    display: table-cell;
    vertical-align:middle;
    width: 100%;
    text-align: center;
    font-size:larger;
}