<div class="home">
    <h3>Pitcher Scouting Report</h3>
    <p>
        This was developed to be used by batters in order to prepare for a specific pitcher they will face. 
        The application allows batters to easily find a pitcher's past performance versus LHH and RHH so
        batters can better predict pitchers' actions at game time. 
        <!--This app is a scouting report for a pitcher. It is intended to be used by a batter to prepare for an atbat versus a pitcher. 
        It displays pitch breakdowns vs. LHH & RHH, and average velocity, average spin rate, and swinging strike rate by pitch type vs. LHH & RHH.-->
    </p>
    <p>
        Enter a player's name in the search box to the left and click the search button in order to begin. 
    </p>
    Here's a more detailed description of each chart:
    <section>
        <h4>Pitch Breakdown Overview</h4>
        <p>
            A pie chart displaying the percent of each pitch type thrown vs. LHH & RHH
        </p>
    </section>
    <section>
        <h4>Pitch Breakdown by Count</h4>
        <p>
            A table showing the percent of each pitch type thrown vs. LHH & RHH for a certain count
        </p>
    </section>
    <section>
        <h4>Pitch Averages</h4>
        <p>
            A table showing the average release velocity, average spin rate, and swinging strike rate for each pitch type vs. LHH & RHH
        </p>
    </section>
    <section>
        <h4>Average Release Velocity</h4>
        <p>
            A bar chart displaying the average release velocity for each pitch type vs. LHH & RHH
        </p>
    </section>
    <section>
        <h4>Average Spin Rate</h4>
        <p>
            A bar chart displaying the average spin rate for each pitch type vs. LHH & RHH
        </p>
    </section>
</div>
